
/* HEADER */



.lower {
  justify-content: center;
}
#nav-bar {
  display:flex;
  align-items: center;
  justify-content: space-between;
  
}

.sticky {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: -1;
}

.sticky + .content {
  padding-top: 40px;
}

.left-header {
  margin-left: 50px;
  font-size:3vw;
  font-family: 'IBM Plex Mono';
  font-weight: bold;
  margin-top:10px;
  float: left;
}

.right-header {
  margin-top:10px;
  margin-right:40px;
  font-size: 3vw;
  font-family: 'IBM Plex Mono';
  float: right;
  font-weight:900;
}

.horizontal-list {
  display:inline;
  margin-left:20px;
  margin-right:20px;
}


body {
  margin:0px 0px 0px 0px;
  background-image: url("./gradient_background.png");
  background-size: auto;
}

/* CAROUSAL */
.carousal {
  position: relative;
  color: black;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  /* background-image: url("./grainy.jpeg"); */
  min-height: 1200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* @media only screen and (max-width: 400px) {

  body { 
     font-size: 2em; 
  }

} */

.hello {
  font-size: 120px;
  text-align: left;
  position: absolute;
  /* bottom: 55%; */
  padding: 8%;
  margin-top: 10%;
  font-family:'Judson';
  /* width:98% */
  /* display: block; */
  /* margin:2%; */
}
/* @media only screen and (max-width: 400px) {

  /* body { 
     font-size: 4em; 
  } */

  /* .hello {
    font-size:1200px
  }

} */ 


.bottom-left {
  font-size: 3vw;
  text-align: left;
  position: absolute;
  bottom: 15%;
  padding: 8%;
  /* width:60%; */
  /* padding: 50px; */
  /* margin:2%; */
  display: block;
  font-family: 'Inconsolata';
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .bottom-left {
    font-size: 3vw;
    padding: 20px;
  }

 
  .bottom-right {
    font-size: 3vw;
  } 
}

.projects-pointer {
  /* padding-top: 10%; */
  width:100%;
  position: absolute;
  text-align: center;
  bottom:00px;
  font-family: 'Rubik';
  font-size: 4vw;
  color:black;
}




figure {
  align-items: center;
  width:33%
}

.event-image {
  width:  100%;
  height: 250px;
  object-fit: cover;
}

.figure-caption {
  align-items: center;
}

/* .section-header {
  font-family:sans-serif;
  font-size: 35px;
  margin-top:0px;
}

.section-description {
  font-family: 'IBM Plex Mono';
  font-size: 18px;
} */
a:link { text-decoration: none; }
a:visited { text-decoration: none; 
color:black}
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

.horizontal-list:hover{
  color: white;
  transition: transform .2s;
}

.name:hover {
  color: white;
  transition: transform .2s;
}


/* Events */
.projects {
  padding-left:10%;
  padding-right: 10%;
  background-color: white;
  color:#00356B;
  align-content: space-between;
}

.project-image {
  height: 400px;
  object-fit: cover;
  transition: transform .2s; /* Animation */
}

.project-image:hover {
  transform: scale(1.1);
}

.zoom {
  padding: 50px;
  background-color: green;
  transition: transform .2s; /* Animation */
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.project-skills {
  font-size: 16px;
  margin-top:0px;
  color: #B8B8B8;
  margin-bottom: 0px;
}

.project-title {
  font-family: 'Lato';
  font-size: 24px;
  color: black;
  font-weight: bold;
  margin-top:5px;
  margin-bottom: 0px;
}

.project-description {
  margin-top:5px;
  color: black;
  font-size: 18px;
}




 /* FOOTER */


/* Create three equal columns that floats next to each other */


.column-right {
  float: right;
  width: 48%;
  font-family: 'Lato';
  line-height: 1.8;
  transition: width 2s;

}

.column-left {
  float: left;
  width: 48%;
  font-family: 'Lato';
  line-height: 1.8;
  transition: width 2s;

}

.row {
  margin-top:20px;
  align-items: center;
  justify-content: space-between;
  justify-items: center;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1000px) {
  .column {
    width: 98%;
  }

  .highlight-image {
    height: 350px;
  }

  .column-left {
    width:98%;
    margin: auto;
  }

  .column-right {
    width:98%;
    margin: auto;
  }
  
}


.footer-image {
  width: 90px;
  font-size: 36px;
}

.bottom-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Inter';
  padding-bottom: 40px;
}

.name-and-logo {
  display:flex;
  font-size: 20px;
}




.column-logo {
  margin-top: 20px;
  float: left;
  width: 30%;
  height: 200px;
  font-family: 'Lato';
  font-size: 16px;
}

.footer {
  margin-top:8%
}

/* FOOTER */
.footer-left {
  margin-left: 8%;
  font-size:18px;
  float: left;
  /* color:#65B1F1; */
  font-family: 'Rubik';
}

.footer-right {
  margin-right:8%;
  font-size: 18px;
  font-family: 'Rubik';
  float: right;
  /* color:#65B1F1; */
}
