html {
  scroll-behavior: smooth;  /* Enables smooth scrolling */
}

/* NAV BAR */
.dew-icon {
  height: 60px;
  width: auto ;
  padding:0px;
}

.sign-up-button {
  color: black;
  font-family: 'Space Grotesk';
  font-size:20px;
  font-weight: 900;
  text-align: center;
  vertical-align: middle;
  

  background-color: #FFDE59;
  width: auto;
  height: 40px;
  min-width: 150px;
  border-radius: 12px;
  border-style: none;
}

.sign-up-button:hover {
  background-color: #f3c130;  
}

.lower {
  justify-content: center;
}

button {
  cursor: pointer;
  transition: background-color 0.1s ease;
}

#nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;

  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  
}

.sticky {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: -1;
}

.sticky + .content {
  padding-top: 40px;
}

.left-header {
  margin-left: 20px;
}

.right-header {
  margin-right:40px
}

.center-header {
  align-items: center;
  display: flex;
  justify-content: center;
}

header {
  background-color: #00172E;
  color:white;
  font-family:'IBM Plex Mono';
  font-size: 12px;
}

body {
  margin:60px 0px 0px 0px
}

/* WELCOME PAGE */
.welcome {
  color:white;
  background-image: url("gradient_background.png");
  background-position: center center; 
  background-size:     cover;  
  padding-top:10%;
  padding-bottom: 5%;
}

.hello-header {
  font-family: 'Source Serif 4';
  font-style: italic;
  font-size:3em;
  color: black;
  margin:0px;
}

.welcome-header {
  font-family: 'Source Serif 4';
  font-size: 5em;
  color:black;
  margin:0px;
  font-weight: 500;
  line-height: 80%;
}

.centered-button {
  color: white;
  font-family: 'Space Grotesk';
  font-size:24px;
  font-weight: 900;
  text-align: center;
  /* vertical-align: middle; */

  background-color: black;
  width: auto;
  height: 60px;
  min-width: 300px;
  border-radius: 12px;
  border-style: none;


  display: block; 
  margin-left: auto;
  margin-right:auto;
  margin-top: 1%;
  margin-bottom: 10%;

}


.centered-button:hover {
  background-color: #282828
}

.welcome-columns {
  display: flex;
  justify-content: center;
}

.cosmetics_box_img {
  width:400px;
}


/* WELCOME COLUMNS */

@media (max-device-width: 800px) {

  .dew-icon {
    height: 120px;
    width: auto ;
    padding:0px;
  }
  
  .sign-up-button {
    font-size:36px;
    width: auto;
    height: 80px;
    min-width: 350px;
  }


  .welcome {
    color:white;
    background-image: url("gradient_background.png");
    background-position: center center; 
    background-size:     cover;  
    padding-top:10%;
    padding-bottom: 5%;
  }

  .hello-header {
    font-size: 5em;
  }

  .welcome-header {
    font-size: 7em;
    line-height: 100%;
  }

  .welcome-columns {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .left-column {
    width: 95% !important;  /* Ensures full width */
    /* padding: 0;               */
    /* margin: 20px;                */
    padding-right:2.5% !important;
    padding-left:2.5% !important;
  }
  .right-column {
    display: flex;
    justify-content: center;
    width: 95% !important;
    /* margin:20px; */
    /* padding:0 !important; */
  }

  .cosmetics_box_img {
    content:url("cosmetics_mobile.png");
    width: auto;
    max-width: 100%;
    max-height: 100%;
  }

  .centered-button {
    font-size:56px !important;
    text-align: center;
  
    width: auto;
    height: 120px;
    min-width: 80%;
    margin-top: 10%;
  }


  /* MAXIMIZE */

}

.left-column {
  padding: 10px;
  width:50%;
  display: flex;
  align-items: center;
}

.right-column {
  padding: 10px;
}

/* ----------------------------------------------------------------------------- */
/* MAXIMIZE SECTION */

.maximize-header {
  font-family: 'Source Serif 4';
  font-size:2.8em;
  color: black;
  margin:0px;
  font-weight: bold;
}

.maximize-retention {
  font-family: 'Space Grotesk';
  font-size: 1.3em;
  font-weight: bold;
}

.highlight {
  font-style: italic;
  color: #8DDBFF;
  text-shadow: 
  1px 1px 0 black, 
  -1px 1px 0 black, 
  1px -1px 0 black, 
  -1px -1px 0 black;
}

.maximize-columns {
  /* two columns */
  display: flex;
  justify-content: center;
  padding-top: 6%;
  padding-bottom:6%;
}

@media (max-width: 800px) {
  .maximize-columns {
    flex-direction: column;
  }
}


.maximize-right-column {
  width:40%;
  padding-left:2%
}


.bullet-header {
  font-family: 'Space Grotesk';
  font-size: 1.4em;
  font-weight: 900;
} 

.bullet-description {
  font-family: 'Space Grotesk';
  font-size: 1m;
  font-weight: light;
}

.bullet {
  padding:1%;
}


.bullet-columns {
  /* two columns */
  display: flex;
  justify-content: center;
}

.bullet-left-column {
  width:10%;
  margin-right: 4%;
}


.bullet-right-column {
  width:90%;
}

.desktop-phones {
  display: block;
}

.mobile-phones {
  display: none;
}

.bullet-img {
  width:50px;
}


@media (max-device-width: 800px) {
  .maximize {
    padding-top:10%;
    padding-bottom: 5%;
  }
  .maximize-columns {
    /* two columns */
    flex-direction: column;
    /* display: flex; */
    /* justify-content: center; */
    padding-top: 6%;
    padding-bottom:6%;
    padding:10px;
  }
  .maximize-left-column, .maximize-right-column {
    width: 95% !important;  /* Ensures full width */
    /* padding: 0;               */
    /* margin: 20px;                */
    padding-right:2.5% !important;
    padding-left:2.5% !important;
  }


  .maximize-right-column {
    display: flex;
    flex-direction: column;
  }


  .maximize-header {
    font-size:5em;
    /* order:1; */
  }
  .desktop-phones {
    display: none;
  }
  
  .mobile-phones {
    width:95%;
    display: block;
    height:auto;
  }


  .bullet-header {
    font-size: 3em;
    font-weight: 900;
  } 

  .bullet-description {
    font-size: 1.8em;
  }

  .bullet {
    padding:1%;
    /* padding-top: 3% !important; */
    width:90%;
    /* justify-content: center;
    display: flex; */
    
  }

  .bullets {
    padding-top:3%;
    margin: 0 auto;
  }


  .bullet-left-column {
    width:10%;
    /* margin-right: 4%; */
  }


  .bullet-right-column {
    width:90%;
  }

  .bullet-img {
    width:100px;
  }


  .phones-img-wrapper {
    display: flex;
    justify-content: center;
  }
  
  .center-image {
    max-width: 100%; /* Ensure the image is responsive */
    height: auto;    /* Keep the aspect ratio */
  }

  .maximize-retention {
    font-size:32px;
    font-weight: lighter;
  }
}





/* ----------------------------------------------------------------------------- */
/* STEPS */

.process {
  background-color: #F4FBFF;
  padding-top:6%;
  padding-bottom:6%;
}

.step-header {
  font-family: 'Space Grotesk';
  font-size: 1.1em;
  font-weight: bolder;

}

.step-description {
  font-family: 'Space Grotesk';
  font-size: 0.8em;
  font-weight:lighter;
}

.process-header {
  font-family: 'Source Serif 4';
  font-size:2.8em;
  color: black;
  margin:0px;
  font-weight: bold;
  padding-left:10%;
  padding-right:10%

}

.process-description {
  font-family: 'Space Grotesk';
  font-size: 1.3em;
  font-weight: bold;
  padding-left:10%;
  padding-right:10%
}
.process-column {
  width:40%;
  padding:1%;
}

.process-columns {
  /* two columns */
  display: flex;
  justify-content: center;
  /* padding-left: ; */
  /* padding-left:7%;
  padding-right:7%; */
  padding-top: 1%;
  
  padding-left:10%;
  padding-right:10%;
  /* flex-wrap: wrap; */
  flex-direction:row;
}



.step-img {
  display: block;      
  margin: 0 auto; 
  width:100%;
  height:auto;
  object-fit: contain;
}


.demo {
  background-color: #FFED85;
  padding-top:6%;
  padding-bottom:6%;
}

.sign {
  /* background-color: #F4FBFF; */
  padding-top:6%;
  /* padding-bottom:6%; */
  height:fit-content;
  margin-bottom:-10%;
}

.typeform-wrapper {
  
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1%;
  padding-left:10%;
  padding-right:10%;
  
}

.typeform {
  /* transform: scale(0.7);
  transform-origin: top; */
  transform-origin: top;
  transform: scale(0.7);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.questions {
  /* background-color: #F4FBFF; */
  padding-top:6%;
  padding-bottom:6%;
  height:fit-content;
  background-color: #FFED85;
  text-align: center;
}

.question-header {
  font-family: 'Source Serif 4';
  font-size:5em;
  color: black;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

.question-description {
  font-family: 'Space Grotesk';
  font-size: 1.3em;
  font-weight: lighter;
}


.demo-column {
  width:40%;
  padding:1%;
}

.demo-columns {
  /* two columns */
  display: flex;
  justify-content: center;
  /* padding-left: ; */
  /* padding-left:7%;
  padding-right:7%; */
  padding-top: 1%;
  
  padding-left:10%;
  padding-right:10%;
  /* flex-wrap: wrap; */
  flex-direction:row;
}


.demo-img {
  display: block;      
  margin: 0 auto; 
  width:100%;
}


.demo-header {
  font-family: 'Source Serif 4';
  font-size:2.8em;
  color: black;
  margin:0px;
  font-weight: bold;
  padding-left:10%;
  padding-right:10%

}

.demo-description {
  font-family: 'Space Grotesk';
  font-size: 1.3em;
  font-weight: bold;
  padding-left:10%;
  padding-right:10%
}

.demo-scroll {
  display:none;
}

.typeform {
  display:block;
}
.typeform-mobile {
  display:none;
}




@media (max-device-width: 800px) {
  .process {
    padding-top:10%;
    padding-bottom: 5%;
    width: 95% !important;  /* Ensures full width */
    padding-right:2.5% !important;
    padding-left:2.5% !important;
  }

  .process-header {
    font-size:5em;
    padding-left:0%;
    padding-right:0%
  }

  .process-description {
    padding-left: 0%;
    padding-right: 0%;
    font-size:32px;
    font-weight: lighter;
  }
  .process-columns {
    /* two columns */
    flex-direction: column;
    /* display: flex; */
    /* justify-content: center; */
    padding-top: 6%;
    padding-bottom:6%;
    padding:10px;
  }
  .process-column{
    width: 96%;  /* Ensures full width */
    /* padding: 0;               */
    /* margin: 20px;                */
    padding-right:2%;
    padding-left:2%;
    padding-bottom: 5%;
    /* flex-direction: row; */
    display:flex;
  }

  .step-process {
    padding-left: 5%;
  }

  .step-img {
    width:40%
  }

  .step-header {
    font-size: 3em;
    font-weight:bold;
    margin-top: 0;
  }

  .step-description {
    font-size: 32px;
  }

  /* .step-img {
    display: flex;
  }

  .step-process {
    display:flex;
  } */


  .demo-header {
    font-size:5em;
    padding-left:0%;
    padding-right:0%
  }

  .demo-description {
    padding-left: 0%;
    padding-right: 0%;
    font-size:32px;
    font-weight: lighter;
  }

  .demo-scroll {
    display:block;
    font-family: 'Space Grotesk';
    font-size: 1.3em;
    font-weight: bold;
    font-style: italic;
  }  

  .demo-columns {
    display: flex;
    overflow-x: auto;
    /* flex-wrap: row;
    justify-content: space-between; */
    padding-left:2%;
    padding-right:0%;
    flex-wrap: nowrap;
    /* width:3000px; */
    /* flex-direction: ; */
    width:100%;
    justify-content:flex-start;
  }

  .demo-column {
    /* flex-basis: 30%; Each column takes about 30% of the row */
    /* margin: 10px; Optional: adds spacing between items */
    /* background-color: lightblue;
    text-align: center;
    padding: 20px; */
    /* width:100%; */
    /* box-sizing: border-box; Ensures padding and borders don't affect width */
    width:600px;
    margin-right:10px;
    height:auto;
    padding:5%;
    margin:0%;
  }
  
 

  .demo-img {
    width:600px;
  }

  .demo {
    padding-top:10%;
    padding-bottom: 5%;
    width: 95% !important;  /* Ensures full width */
    padding-right:2.5% !important;
    padding-left:2.5% !important;
  }

  .sign {
    padding-top:10%;
    padding-bottom: 5%;
    width: 95% !important;  /* Ensures full width */
    padding-right:2.5% !important;
    padding-left:2.5% !important;
    min-height: auto;
  }

  .typeform-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1%;
    margin-left: 0;
    margin-right: 0;
    padding-left:0%;
    padding-right:0%;
    min-height: 1100px;
    padding-bottom:5%;
    
  }
  .typeform {
    display:none;
  }
  .typeform-mobile {

    transform:scale(1.7);
    display:block;
    /* width:100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0;
    margin:0;
    height:100%;
  }
  



}